@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    color: white;
    font-size: 1.5rem;
}
body{
    background-color: black;
}

/* MEnu style */

ul{
    list-style: none;

}

.menu{
    /*opacity: 0;*/
    display: flex;
    flex-wrap:  nowrap;
    flex-direction: row;
    color: black;
    height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
    top :-100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
}
.exist{
    position: absolute;
    top: 40px;
    right: 40px;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
    
}
.nav-link{
    font-size: 3rem;
    transition: all 0.2s ease-in-out;

}

.nav-link:hover,
.nav-link:focus{
    color:#D93A43;
    transition: all 0.2s ease-in-out;
}

.number{
    font-size: 2rem;
}

/* list style */
.title{

    color:#D93A43;
    font-size: 4rem;
    font-weight: 400;
}
.background{
    z-index: -1;
    position:absolute;
    font-size: 25rem;
    color:rgba(0, 0, 0, 0.037);
}
.information{
    margin-bottom: 24px;
}
ul li{
    padding-bottom: 20px;
}

/* treat me */
.menuBtn,
.exist{
    cursor: pointer;
}

.nav{
    margin-top: -20px;
    opacity: 0;
}

/*writing*/

.welcome{
    justify-content: center;
}



h1 {
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 25vw;
    margin-top: 9rem;
    overflow: hidden;
    color:white;
    font-size: 8rem;
  }
  
  h1 .hi {
    display: inline-block;
  }
  
  h1 .text {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: normal;
    padding-left: 1.2vw;
  }
  
  h1 .box {
    position: absolute;
    bottom: 0;
    display: inline-block;
    background: #2800ad;
    height: 1vw;
    z-index: -1;
  }

  @media (max-width:1200px){

 
    h1{
        font-size: 4rem;
    }

    .menu{
        flex-wrap:wrap ;
    }
  }